<script context="module">
    import Paragraph from './Paragraph.svelte';

    export const meta = {
        title: "Paragraph",
        component: Paragraph
    }
</script>

<script>
    import { Story, Template } from '@storybook/addon-svelte-csf';

</script>

<Template let:args>
    <Paragraph {...args}></Paragraph>
</Template>

<Story name="My Paragraph" args={{name: "Dana"}}/>